//            $Customs                \\
// ___________________________________//
$app: (
  coral:      #E85a63,
  light-grey: #E8E5E5,
  grey:       #393938,
  dark-grey:  #150406,
  peach:      #FF997A,
  red:        #AB081C,
  text-color: #AB081C // dark red
) !default;

